In [3]:
from datascience import Table

In [4]:
from IPython.display import display
table = Table.read_table("diamonds.csv")

display(table.show(5))

None

In [5]:
print("hi")

hi

In [6]:
display(table.show(5))

None